@use '../vars.scss';

.card {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    border-radius: 24px;
    border: 1px solid vars.$darkner4;
    transition: all 0.2s;

    &.interactive {
        cursor: pointer;
    }

    &:nth-child(7n + 1) {
        background-color: vars.$backgroundYellow;
    }

    &:nth-child(7n + 2) {
        background-color: vars.$backgroundGreen;
    }

    &:nth-child(7n + 3) {
        background-color: vars.$backgroundBlue;
    }

    &:nth-child(7n + 4) {
        background-color: vars.$backgroundRed;
    }

    &:nth-child(7n + 5) {
        background-color: vars.$backgroundBrown;
    }

    &:nth-child(7n + 6) {
        background-color: vars.$backgroundCyan;
    }

    &:nth-child(7n) {
        background-color: vars.$backgroundPurple;
    }

    &.interactive:hover {
        &:nth-child(7n + 1) {
            background-color: vars.$backgroundYellowHover;
        }

        &:nth-child(7n + 2) {
            background-color: vars.$backgroundGreenHover;
        }

        &:nth-child(7n + 3) {
            background-color: vars.$backgroundBlueHover;
        }

        &:nth-child(7n + 4) {
            background-color: vars.$backgroundRedHover;
        }

        &:nth-child(7n + 5) {
            background-color: vars.$backgroundBrownHover;
        }

        &:nth-child(7n + 6) {
            background-color: vars.$backgroundCyanHover;
        }

        &:nth-child(7n) {
            background-color: vars.$backgroundPurpleHover;
        }
    }

    &__name {
        display: flex;
        align-items: flex-start;
        gap: 4px;
    }

    &__name-hit {
        display: none;
    }

    &.interactive {
        .card__name-hit {
            display: flex;
            align-items: center;
        }
    }

    &__name-hit-icon {
        width: 24px;
        height: 24px;
        color: vars.$danger500;
    }

    &__name-hit-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: vars.$danger600;
    }

    &__status {
        display: none;
        margin-top: 2px;
        font-size: 12px;
        line-height: 16px;
        color: vars.$textLBGSecondary;
    }

    &.interactive {
        .card__status {
            display: block;
        }

        .card__address {
            display: none;
        }

        .card__description {
            display: none;
        }
    }

    &__address {
        margin-top: 2px;
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 16px;
        color: vars.$textLBGSecondary;
    }

    &__description {
        margin-top: 8px;
        font-size: 14px;
        line-height: 20px;
    }

    &__price {
        display: flex;
        flex-wrap: nowrap;
        gap: 2px;
        margin-top: 8px;
        font-weight: 600;
    }
}
