@use '../vars.scss';

.card {
    position: relative;
    width: 100%;
    padding-top: calc((100% - 2px) * (24 / 41));
    border-radius: 24px;
    border: 1px solid vars.$darkner4;
    transition: all 0.2s;

    &.interactive {
        padding-top: 0;
        height: auto;
        cursor: pointer;

        @media (min-width: 724px) {
            min-height: 106px;
        }

        .card__content {
            position: relative;
        }
    }

    &:nth-child(7n + 1) {
        background-color: vars.$backgroundYellow;
    }

    &:nth-child(7n + 2) {
        background-color: vars.$backgroundGreen;
    }

    &:nth-child(7n + 3) {
        background-color: vars.$backgroundBlue;
    }

    &:nth-child(7n + 4) {
        background-color: vars.$backgroundRed;
    }

    &:nth-child(7n + 5) {
        background-color: vars.$backgroundBrown;
    }

    &:nth-child(7n + 6) {
        background-color: vars.$backgroundCyan;
    }

    &:nth-child(7n) {
        background-color: vars.$backgroundPurple;
    }

    &.interactive:hover {
        &:nth-child(7n + 1) {
            background-color: vars.$backgroundYellowHover;
        }

        &:nth-child(7n + 2) {
            background-color: vars.$backgroundGreenHover;
        }

        &:nth-child(7n + 3) {
            background-color: vars.$backgroundBlueHover;
        }

        &:nth-child(7n + 4) {
            background-color: vars.$backgroundRedHover;
        }

        &:nth-child(7n + 5) {
            background-color: vars.$backgroundBrownHover;
        }

        &:nth-child(7n + 6) {
            background-color: vars.$backgroundCyanHover;
        }

        &:nth-child(7n) {
            background-color: vars.$backgroundPurpleHover;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        padding: 16px 24px;
    }

    &__name {
        display: flex;
        align-items: flex-start;
        gap: 4px;
        z-index: 10;
    }

    &__name-hit {
        display: none;
        z-index: 10;
    }

    &.interactive {
        .card__name-hit {
            display: flex;
            align-items: center;
        }
    }

    &__name-hit-icon {
        width: 24px;
        height: 24px;
        color: vars.$danger500;
        z-index: 10;
    }

    &__name-hit-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: vars.$danger600;
        z-index: 10;
    }

    &__status {
        display: none;
        margin-top: 2px;
        font-size: 12px;
        line-height: 16px;
        color: vars.$textLBGSecondary;
        z-index: 10;
    }

    &.interactive {
        .card__status {
            display: block;
        }

        .card__address {
            display: none;
        }

        .card__description {
            display: none;
        }

        .card__price {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }
    }

    &__address {
        margin-top: 2px;
        margin-bottom: auto;
        font-size: 12px;
        line-height: 16px;
        color: vars.$textLBGSecondary;
        z-index: 10;
    }

    &__description {
        margin-top: 8px;
        font-size: 14px;
        line-height: 20px;
        z-index: 10;
    }

    &__price {
        display: flex;
        flex-wrap: nowrap;
        gap: 2px;
        margin-top: 8px;
        font-size: 28px;
        line-height: 42px;
        z-index: 10;
    }

    &__bg {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 24px;
        z-index: 1;
    }

    &__img {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        z-index: 2;
        border-radius: 24px;
    }

    &__buttons {
        z-index: 30;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 8px;
        background-color: vars.$interfaceBackground;
        cursor: pointer;
        color: vars.$textLBGSecondary;
        transition: all 0.2s;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04),
            0px 2px 6px 0px rgba(0, 0, 0, 0.04),
            0px 0px 1px 0px rgba(0, 0, 0, 0.04);

        &:hover {
            color: vars.$textLBGPrimary;
        }

        &:active {
            color: vars.$accent500;
        }
    }

    &__button-icon {
        width: 24px;
        height: 24px;
    }

    &__button_left {
        margin-left: -12px;
    }

    &__button_right {
        margin-right: -12px;

        .card__button-icon {
            transform: rotate(180deg);
        }
    }
}
