@use '../vars.scss';

.tabs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4px;
    border-radius: 12px;
    background-color: vars.$darkner8;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        margin: 0;
        padding: 0 8px;
        border-radius: 8px;
        border: 1px solid transparent;
        background-color: transparent;
        color: vars.$textLBGSecondary;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            color: vars.$textLBGPrimary;
        }

        &.active {
            border-color: vars.$darkner16;
            background-color: vars.$interfaceBackground;
            color: vars.$textLBGPrimary;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
        }
    }
}
