@use '../vars.scss';

.steps {
    margin: 0 16px 6px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.step {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px 0 16px;

    &__tabs {
        margin: 8px 0;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__label {
        font-size: 14px;
        line-height: 20px;
        color: vars.$textLBGSecondary;
    }

    &__text {
        &_bold {
            font-weight: 600;
        }

        span {
            margin-left: 4px;
        }
    }
}

.button-wrapper {
    width: 100%;
    display: flex;
    padding: 16px 0;

    &__button {
        width: 100%;
    }
}
