@use '../vars.scss';

.steps {
    margin: 0 16px 6px;

    &.empty {
        height: calc(100vh - 86px);
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: 724px) {
            height: auto;
            display: block;
        }
    }

    @media (min-width: 724px) {
        padding: 16px;
        margin: 0;

        &_columns {
            display: grid;
            grid-template-columns: 328fr 360fr;
            gap: 48px;
        }
    }
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @media (min-width: 724px) {
        display: grid;
        grid-template-columns: 344px 344px;

        &_single {
            display: flex;
        }
    }

    &__step-four {
        gap: 16px;
    }
}

.step {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px 0 16px;

    &__tabs {
        margin: 8px 0;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;

        &.error {
            color: vars.$danger500;
        }

        &_hide-tablet {
            @media (min-width: 724px) {
                display: none;
            }
        }
    }

    @media (min-width: 724px) {
        margin: 0;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__label {
        font-size: 14px;
        line-height: 20px;
        color: vars.$textLBGSecondary;
    }

    &__text {
        &_bold {
            font-weight: 600;
        }

        &.bold {
            font-weight: 500;
        }

        &.high {
            font-size: 20px;
            line-height: 24px;
        }

        span {
            margin-left: 4px;
        }

        a {
            text-decoration: none;
            color: vars.$accent600;
        }
    }
}

.bg-tabs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4px;
    padding: 0 10px;

    &__button {
        position: relative;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.2s;

        &.default {
            .bg-tabs__button-bg {
                background-color: vars.$backgroundYellow;
            }
        }

        &.active {
            border-color: vars.$accent500;
        }
    }

    &__button-bg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.button-wrapper {
    width: 100%;
    display: flex;
    padding: 16px 0;

    &__button {
        width: 100%;

        @media (min-width: 724px) {
            width: auto;
            min-width: 160px;
        }
    }
}

.empty-text {
    color: vars.$textLBGSecondary;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

    @media (min-width: 724px) {
        text-align: left;
    }
}
