extends ../layout.pug

block variables
    - var page = 'index'

block content
    include ../components/card.pug
    include ../components/text-input.pug
    include ../components/button.pug
    include ../icons/caretLeft.pug
    include ../icons/icon-ok.pug

    .main
        .header-first.js-header-first
            .header-first__title.js-header-first-title Покупка сертификата
            .header-first__text.js-header-first-text Сеть студий наращивания ANNA KEY
        .header-second.js-header-second
            .header-second__title.js-header-title Выберите филиал

        .steps
            .cards(js-cards)
                +card({name: 'Студия Anna Key Авиамоторная', status: '2-й Кабельный проезд, д. 1, 3 этаж', className: 'filial-color interactive'})
                +card({name: 'Студия Anna Key Братиславская', status: 'Ул. Братиславская, д. 6, 1 подъезд, 8 этаж', className: 'filial-color interactive'})
                +card({name: 'Студия Anna Key Динамо', status: 'Ленинградский проспект, дом 33, корпус 5', className: 'filial-color interactive'})
                +card({name: 'Студия Anna Key Китай-Город', status: 'Малый Златоустинский переулок д.6. стр 1', className: 'filial-color interactive'})
                +card({name: 'Студия Anna Key Менделеевская/Достоевская', status: '3-й Самотечный переулок, дом 13', className: 'filial-color interactive'})
                +card({name: 'Студия Anna Key Профсоюзная', status: 'Нахимовский проспект д 38', className: 'filial-color interactive'})
                +card({name: 'Студия Anna Key Тропарево', status: 'Ленинский проспект, д. 123Ленинский проспект, д. 123', className: 'filial-color interactive'})
