extends ../layout.pug

block variables
    - var page = 'result'

block content
    include ../components/button.pug

    .main
        .header-result
            .header-result__title Сертификат 675486129
            .header-result__address Вишня, м. Новокузнецкая

        .card.result-card
            .card__name Название сертификата 
            .card__address Вишня, м. Новокузнецкая
            .card__description Условия где и на что может использоваться
            .card__price 2 000 ₽

        .result-description

        +button({text: 'Записаться онлайн'})
