extends ../layout.pug

block content
    include ../components/card.pug
    include ../components/text-input.pug
    include ../components/button.pug
    include ../icons/caretLeft.pug

    .main
        .header-first.header-first__not-mobile.js-header-first
            .header-first__title.js-header-first-title Покупка сертификата
            .header-first__text.js-header-first-text Вишня, м. Новокузнецкая
        .header-second
            button.header-second__back-button(type='button')
                +caretLeft('header-second__back-icon')
            .header-second__title Дизайн и получатель
            .header-second__steps Шаг 4 из 5

        .steps.steps_columns
            .cards.cards_single.cards__step-four
                +card({name: 'Название сертификата длинным названием', price: '2 000', status: 'Действует 365 дней после активации', address: 'Вишня, м. Новокузнецкая', hasBg:'true', hasImg: 'true', hasBtns: 'true'})

                .bg-tabs.js-bg-tabs
                    button.bg-tabs__button.js-bg-tab-button(type='button', data-type="1")
                        img(src="./img/image1.png")
                    button.bg-tabs__button.active.js-bg-tab-button(type='button', data-type="2")
                        img(src="./img/image2.png")
                    button.bg-tabs__button.js-bg-tab-button(type='button', data-type="3")
                        img(src="./img/image3.png")
                    button.bg-tabs__button.js-bg-tab-button(type='button', data-type="4")
                        img(src="./img/image4.png")
                    button.bg-tabs__button.js-bg-tab-button(type='button', data-type="5")
                        img(src="./img/image5.png")
                    button.bg-tabs__button.js-bg-tab-button(type='button', data-type="6")
                        img(src="./img/image6.png")

            .step
                +text-input({label: 'Телефон получателя', type: 'tel', subText: 'Ссылка на сертификат придёт в WhatsApp или SMS', name: 'inputPhone'})
                +text-input({label: 'Имя получателя', name: 'inputSenderName'})
                .link-button.js-step-four-add-button
                    button.link-button__button(type="button") Добавить поздравление
                +text-input({label: 'Текст поздравления', name: 'inputCongratulations', className:'hidden js-step-four-adding-input'})
                +text-input({label: 'Имя отправителя', name: 'inputRecipientName', className:'hidden js-step-four-adding-input'})

                .button-wrapper
                    +button({text: 'Далее', className: 'button-wrapper__button'})
