extends ../layout.pug

block content
    include ../components/card.pug
    include ../components/text-input.pug
    include ../components/button.pug
    include ../icons/caretLeft.pug

    .main
        .header-first.header-first__not-mobile.js-header-first
            .header-first__title.js-header-first-title Покупка сертификата
            .header-first__text.js-header-first-text Вишня, м. Новокузнецкая
        .header-second
            button.header-second__back-button(type='button')
                +caretLeft('header-second__back-icon')
            .header-second__title Проверка данных
            .header-second__steps Шаг 5 из 5

        .steps.steps_columns
            .cards.cards_single.cards__step-five
                +card({name: 'Название сертификата длинным названием', price: '2 000', status: 'Действует 365 дней после активации', address: 'Вишня, м. Новокузнецкая', hasBg:'true',hasImg: 'true'})

            .step
                .card-content
                    .card-content__label Ссылка на сертификат придёт в WhatsApp или SMS
                    .card-content__text +7 (800) 900-80-70
                .step__title Константин Константинович
                .card-content
                    .card-content__text Поздравляю со средой – ещё не пятница, но уже не понедельник
                .card-content
                    .card-content__text.card-content__text_bold Анастасия

                .button-wrapper
                    +button({text: 'Отправить', className: 'button-wrapper__button'})
