@use 'reset';
@use 'fonts';
@use 'vars';

@use './pages/index.scss';
@use './pages/header.scss';

@use './components/card.scss';
@use './components/tabs.scss';
@use './components/checkbox.scss';
@use './components/button.scss';
@use './components/text-input.scss';
@use './components/link-button.scss';
@use './components/datepicker.scss';

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body {
    min-height: 100%;
    font-family: vars.$sfProDisplay;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: vars.$textLBGPrimary;
    background-color: vars.$interfaceBackground;
}

.main {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}

.body-lock {
    overflow: hidden;
}
